
<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img src="/assets/images/robot-parts/head-friendly.png" alt="Friendly Robot Head" />
    <div class="promo-text">
      <div class="promo-main-text">Dispell the robot apocalypse myth</div>
      <div class="promo-sub-text cta">
        <div>save 20% on our friendliest</div>
        <div>Robot Heads</div>
      </div>
    </div>
    <img src="/assets/images/robot-parts/head-big-eye.png" alt="Big Eye Head" />
  </div>

  <ul class="robot-parts-cta">
    <li>
      <a class="part">
        <img src="/assets/images/robot-parts/head-surveillance.png" alt="Robot Heads" />
        <div>Robot Heads</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img src="/assets/images/robot-parts/arm-articulated-claw.png" alt="Robot Arms" />
        <div>Robot Arms</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img src="/assets/images/robot-parts/torso-flexible-gauged.png" alt="Robot Torsos" />
        <div>Robot Torsos</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img src="/assets/images/robot-parts/base-single-wheel.png" alt="robot bases" />
        <div>Robot Bases</div>
      </a>
    </li>
  </ul>

  <div class="white-paper">
    <img src="/assets/images/robot-apocalypse.png" alt="Robot Apocalypse" />
    <div class="text">
      <div>
        <div class="header-text cta">Will they kill us ?</div>
        <div class="sub-text">
          <p>10 Myths About the</p>
          <p>Robot Apocalypse</p>
        </div>
      </div>
      <div class="large-text">White Paper</div>
      <a href="" class="learn-more">Learn More</a>
    </div>
  </div>
</div>
